.menuHaut {
    color: blue;
    text-align: right;
}

.headerSection h1 {
    font-size: 210%;
}

.hrefLink {
    color: blue;
    cursor: pointer;
}

#retour {
    cursor: pointer;
    font-size: 120%;
}

h1 {
    text-align: center;
    margin-bottom: 3%;
}

#logo {
    border: 2px solid rgb(55, 55, 55);
    height: 240px;
    width: auto;
    position: absolute;
}

.textVideoInfo {
    text-align: center;
    margin: auto;
    padding: 0 0.5% 0 0.5%;
}

.textVideoInfoEtendu {
    font-size: 120%;
    margin: auto;
    padding: 0 0.5% 0 0.5%;
}

.titreVideo {
    font-weight: bold;
}

#connexionForm {
    text-align: center;
}

.champs {
    display: inline-block;
}

.champs input {
    margin: 0;
    padding: 0;
    font-size: 120%;
    width: 100%;
    height: 50px;
}

input {
    text-align: center;
}

#erreur {
    color: red;
    margin-bottom: 3%;
}

.headerSection {
    display: grid;
    height: 240px;
    margin: 0 5%;
}

.headerSection input {
    margin: 0;
    padding: 0;
    font-size: 120%;
    height: 50px;
}

.headerSection #rechercherBtn {
    width: 52px;
    height: 52px;
    background: rgb(239, 239, 239) url(../data/loupeIcone.png) left no-repeat;
    background-size: 90%;
    background-position: center;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
}

.mainSection {
    padding: 1.5%;
    display: block;
    margin: 30px 5%;
    border: solid 2px gray;
    border-radius: 26px;
}

.topMainSection {
    display: block;
    margin: 30px 5%;
}

#rechercherVideo {
    text-align: center;
}

#zone_videoThumbnail {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#zone_videoThumbnail .videoList {
    border: 2px solid;
    border-color: grey;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
}

.videoList {
    margin: 0 0 1% 0;
    display: flex;
    height: 130px;
}

#videoListTitleDiv,
#videoListPlateformeDiv,
#videoListViewsDiv {
    border-left: 1px grey solid;
    display: inline-flex;
}

#videoListTitleDiv {
    width: 59%;
}

#videoListPlateformeDiv {
    width: 8%;
}

#videoListViewsDiv {
    border-right: 1px grey solid;
    width: 8%;
}

.videoList .ajouterBouton {
    margin: auto;
    padding: 0;
    font-size: 120%;
    width: 5%;
    height: 40%;
}

.videoListPub {
    border: none;
    margin: 0 0 1% 0;
    display: flex;
    height: 90px;
}

.videoListPubDiv {
    margin: auto;
}

.videoListPubImg {
    border: 1px grey solid;
    width: 728px;
    height: 90px;
}

.videoListPubSuggestion {
    border: none;
    margin: 0 0 1% 0;
    display: flex;
    height: 50px;
}

.videoListPubImgSuggestion {
    border: 1px grey solid;
    width: 320px;
    height: 50px;
}

.playlistList {
    border: 2px grey solid;
    border-radius: 3px;
    margin: 0 0 0.5% 0;
    display: flex;
    height: 130px;
}

#playlistNomDiv,
#playlistNombreDeVuesDiv {
    border-right: 1px grey solid;
    display: inline-flex;
}

#playlistNomDiv {
    width: 59%;
}

#playlistNombreDeVuesDiv {
    width: 20%;
}

#playlistNomDiv p, .videoListPubImg {
    cursor: pointer;
}

.playlistList .modifierBouton {
    margin: auto;
    padding: 0;
    font-size: 120%;
    width: auto;
    height: 40%;
}

.popUpListePlaylist {
    display: none;
    position: absolute;
    background-color: white;
    height: 200px;
    width: 200px;
    overflow-y: scroll;
    border: 1px grey solid;
    border-radius: 5px;
}

.zone_playlist {
    list-style: none;
    margin: auto;
    padding: 0 5% 0 5%;
}

.zone_playlist li {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    margin: auto;
    align-items: center;
    border-bottom: 1px grey solid;
}

.zone_playlist li p {
    width: 100%;
}

#zone_modifierTitre {
    display: none;
}

#modificationCompte {
    display: none;
}

#modificationForm {
    padding: 1.5%;
    border: solid 2px gray;
    border-radius: 26px;
    width: auto;
}


#modificationForm p {
    margin-top: 5px;
}

#modificationForm input {
    font-size: 110%;
    width: auto;
    height: 40px;
}

#validerBtnCompte {
    margin-left: 30px;
    margin-right: 10px;
}

.topMainSection input {
    font-size: 110%;
    width: auto;
    height: 40px;
}

#partieGaucheVideo {
    float: left;
    width: 65%;
    height: 100%;
    margin-right: 10px;
}

#suggestionVideo {
    padding-left: 10px;
    display: flow-root;
}

#suggestionVideo .videoList {
    border: solid 2px gray;
    list-style: none;
    display: block;
}

#suggestionVideo .thumbnail {
    float: left;
    width: 231.69px;
    height: 130px;
}

#suggestionVideo .textVideoInfo {
    margin: 3px 2px 0 6px;
    width: 100%;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.suggestionDiv {
    display: flow-root;
    height: 100%;
    position: relative;
}

.suggestionDiv .ajouterBouton{
    width: 25px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

#player {
    width: 920px;
    height: 517.5px;
}

@media (max-width:1650px) {
    #player {
        width: 820px;
        height: 461.25px;
    }
}

@media (max-width:1450px) {
    #player {
        width: 720px;
        height: 405px;
    }
}

@media (max-width:1270px) {
    #player {
        width: 620px;
        height: 348.75px;
    }
}

@media (max-width:1100px) {
    #player {
        width: 520px;
        height: 292.5px;
    }
}

#drop_zone {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}

#idUserDisplayNone {
    display: none;
}

#informationsCompte {
    margin-bottom: 30px;
}

#zone_pubCompte {
    border-top: solid 2px gray;
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.pubImgClass {
    border: solid 2px gray;
    margin-top: 10px;
    width: 728px;
    height: 90px;
}

#ajouterPubForm {
    font-size: 120%;
    text-align: center;
    width: 40%;
    margin: auto;
}


#ajouterPubForm h2{
    margin-top: 0;
}

.champsAjouterPub input:not(.inputRadio){
    margin: 0;
    padding: 0;
    font-size: 120%;
    width: 100%;
    height: 50px;
}

.champsAjouterPub fieldset{
    margin-bottom: 10px;
}

.inputRadio {
    width: auto;
    font-size: 120%;
    width: 20px;
    height: 20px;
    margin-bottom: 3%;
}

#suitePlaylist {
    margin-top: 20px;
}

#suitePlaylist h2{
    margin: 0;
}

#zone_suitePlaylist {
    margin: 0 0 0 0;
    padding: 0;
    list-style-type: none;
}

#zone_suitePlaylist .videoList {
    border: 2px solid;
    border-color: grey;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 0 0 0.5% 0;
    display: flex;
    height: 130px;
}

#zone_suitePlaylist #videoListActive {
    border: 2px solid;
    border-color: rgb(71, 71, 252);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(82, 154, 248);
}

#videoListActive #videoListTitleDiv,
#videoListActive #videoListPlateformeDiv,
#videoListActive #videoListViewsDiv {
    border-left: 1px rgb(0, 0, 0) solid;
    display: inline-flex;
}

#zone_suitePlaylist #videoListTitleDiv {
    width: 59%;
}

#zone_suitePlaylist #videoListPlateformeDiv {
    width: 10%;
}

#zone_suitePlaylist #videoListViewsDiv {
    border-right: 0;
    width: 9%;
}