.menuHaut {
    color: blue;
    text-align: right;
}

.headerSection h1{
    font-size: 210%;
}

.hrefLink {
    color: blue;
    cursor: pointer;
}

#retour {
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-bottom: 3%;
}

#logo {
    border: 2px solid rgb(55, 55, 55);
    height: 240;
    width: auto;
    position: absolute;
}

.textVideoInfo {
    text-align: center;
    margin: auto;
    padding: 0 0.5% 0 0.5%;
}

.textVideoInfoEtendu {
    font-size: 120%;
    margin: auto;
    padding: 0 0.5% 0 0.5%;
}

.titreVideo {
    font-weight: bold;
}

#connexionForm {
    text-align: center;
}

.champs {
    display: inline-block;
}

.champs input {
    margin: 0;
    padding: 0;
    font-size: 120%;
    width: 100%;
    height: 50px;
}

input {
    text-align: center;
}

#erreur {
    color: red;
    margin-bottom: 3%;
}

.headerSection {
    display: grid;
    height: 240px;
    margin: 0 5%;
}

.headerSection input {
    margin: 0;
    padding: 0;
    font-size: 120%;
    height: 50px;
}

.headerSection #rechercherBtn {
    width: 52px;
    height: 52px;
    background: rgb(239, 239, 239) url(../data/loupeIcone.png) left no-repeat;
    background-size: 90%;
    background-position: center;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
}

.mainSection {
    padding: 1.5%;
    display: block;
    margin: 30px 5%;
    border: solid 2px gray;
    border-radius: 26px;
}

.topMainSection {
    display: block;
    margin: 30px 5%;
}

#rechercherVideo {
    text-align: center;
}

#zone_videoThumbnail {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#zone_videoThumbnail li {
    border: 2px solid;
    border-color: grey;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
}

.videoList {
    margin: 0 0 1% 0;
    display: flex;
    height: 130px;
}

#videoListTitleDiv,
#videoListPlateformeDiv,
#videoListViewsDiv {
    border-left: 1px grey solid;
    display: inline-flex;
}

#videoListTitleDiv {
    width: 59%;
}

#videoListPlateformeDiv {
    width: 8%;
}

#videoListViewsDiv {
    border-right: 1px grey solid;
    width: 8%;
}

.videoList .ajouterBouton {
    margin: auto;
    padding: 0;
    font-size: 120%;
    width: 5%;
    height: 40%;
}

.playlistList {
    margin: 0 0 0.5% 0;
    display: flex;
    height: 80px;
}

#playlistNomDiv,
#playlistNombreDeVuesDiv {
    border-right: 1px grey solid;
    display: inline-flex;
}

#playlistNomDiv {
    width: 59%;
}

#playlistNombreDeVuesDiv {
    width: 20%
}

.playlistList .modifierBouton {
    margin: auto;
    padding: 0;
    font-size: 120%;
    width: auto;
    height: 40%;
}

.popUpListePlaylist {
    display: none;
    position: absolute;
    background-color: white;
    height: 200px;
    width: 200px;
    overflow-y: scroll;
    border: 1px grey solid;
    border-radius: 5px;
}

.zone_playlist {
    list-style: none;
    margin: auto;
    padding: 0 5% 0 5%;
}

.zone_playlist li {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    margin: auto;
    align-items: center;
    border-bottom: 1px grey solid;
}

.zone_playlist li p {
    width: 100%;
}

#zone_modifierTitre {
    display: none;
}

#modificationCompte {
    display: none;
}

#modificationForm {
    padding: 1.5%;
    border: solid 2px gray;
    border-radius: 26px;
    width: auto;
}


#modificationForm p {
    margin-top: 5px;
}

#modificationForm input {
    font-size: 110%;
    width: auto;
    height: 40px;
}

#validerBtnCompte {
    margin-left: 30px;
    margin-right: 10px;
}

.topMainSection input {
    font-size: 110%;
    width: auto;
    height: 40px;
}

#partieGaucheVideo {
    float: left;
    width: 65%;
    height: 100%;
    margin-right: 10px;
}

#suggestionVideo {
    padding-left: 10px;
    display: flow-root;
}

#suggestionVideo .videoList{
    border: solid 2px gray;
    list-style: none;
    display:block;
}

#suggestionVideo .thumbnail{
    float:left;
    width: 231.69px;
    height: 130px;
}

#suggestionVideo .textVideoInfo{    
    text-align: left;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.suggestionDiv {
    display: flow-root;
    height: 100%;
}

#player {
    width:100%;
}

#drop_zone {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}

#idUserDisplayNone {
    display: none;
}

#informationsCompte {
    margin-bottom: 30px;
}

#zone_pubCompte {
    border-top: solid 2px gray;
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.pubImgClass {
    border: solid 2px gray;
    margin-top: 10px;
    width: 728px;
    height: 90px;
}