.menuHaut {
    color: blue;
    text-align: right;
}

.menuHaut a, #retour {
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-bottom: 3%;
}

#logo {
    border: 2px solid rgb(55, 55, 55);
    height: 240;
    width: auto;
    position: absolute;
}

.textVideoInfo {
    text-align: center;
    margin: auto;
    padding: 0 0.5% 0 0.5%;
}

.textVideoInfoEtendu {
    font-size: 120%;
    margin: auto;
    padding: 0 0.5% 0 0.5%;
}

.titreVideo {
    font-weight: bold;
}

#connexionForm {
    text-align: center;
}

.champs {
    display: inline-block;
}

.champs input {
    margin: 0;
    padding: 0;
    font-size: 120%;
    width: 100%;
    height: 50px;
}

input {
    text-align: center;
}

#erreur {
    color: red;
    margin-bottom: 3%;
}

.headerSection {
    display: grid;
    height: 240px;
    margin: 0 5%;
}

.headerSection input {
    margin: 0;
    padding: 0;
    font-size: 120%;
    height: 50px;
}

.headerSection #rechercherBtn {
    width: 52px;
    height: 52px;
    background: rgb(239, 239, 239) url(../data/loupeIcone.png) left no-repeat;
    background-size: 90%;
    background-position: center;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 4px;
}

.mainSection {
    display: block;
    margin: 30px 5%;
    border: solid 2px gray;
    border-radius: 26px;
}

#rechercherVideo {
    text-align: center;
}

#zone_videoThumbnail {
    margin: 1.5%;
    padding: 0;
    list-style-type: none;
}

#zone_videoThumbnail li {
    border: 2px solid;
    border-color: grey;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
}

.videoList {
    margin: 0 0 1% 0;
    display: flex;
    height: 130px;
}

#videoListTitleDiv, #videoListPlateformeDiv, #videoListViewsDiv {
    border-left: 1px grey solid;
    display: inline-flex;
}

#videoListTitleDiv {
    width: 59%;
}

#videoListPlateformeDiv {
    width: 8%;
}

#videoListViewsDiv {
    border-right: 1px grey solid;
    width: 8%;
}

.videoList .ajouterBouton {
    margin: auto;
    padding: 0;
    font-size: 120%;
    width: 5%;
    height: 40%;
}