<!DOCTYPE html>
<html>

<head>
    <title>Inscription</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/style.css') }}" />
</head>

<body>
    <section class="headerSection">
        <p class="menuHaut"></p>
        <h1>S'inscrire | Entreprise</h1>
    </section>
    <form id="connexionForm">
        <div class="champs">
            <p><input type="text" id="login" placeholder="Nom d'utilisateur" /></p>
            <p><input type="password" id="mdp" placeholder="Mot de passe" /></p>
            <p><input type="password" id="mdpConfirm" placeholder="Confirmer le mot de passe" /></p>
            <p><input type="text" id="entreprise" placeholder="Nom de l'entreprise" /></p>
            <p><input type="email" id="email" placeholder="Adresse email de l'entreprise" /></p>
        </div>
        <p id="erreur"></p>
        <input type="button" id="inscriptionBtn" value="S'inscrire" onclick="boutonInscription()"/>
        <input type="button" id="annulerBtn" value="Annuler"/>
        <p>Vous avez déjà un compte ? <a class="hrefLink" onclick="seDeconnecter()">Connexion</a>
    </form>
    <script src="{{ url_for('static',filename='js/entreprise/inscriptionEntreprise.js') }}"></script>
</body>