<!DOCTYPE html>
<html>

<head>
    <title>Accueil</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/style.css') }}" />
</head>

<body onload="onLoad()">
    <section class="headerSection">
    <p class="menuHaut" ></p>
    <img id="logo" src="{{ url_for('static',filename='/data/logoYL.png') }}"/>
    <h1>YourList</h1>
        <form id="rechercherVideo">
            <input type="text" id="rechercher" placeholder="Rechercher..." />
            <input type="button" id="rechercherBtn" onclick="boutonRechercher()" />
        </form>
    </section>
    <section class="mainSection">
        <ol id="zone_videoThumbnail"></ol>
    </section>
    <script src="{{ url_for('static',filename='/js/helper.js') }}"></script>
    <script src="{{ url_for('static',filename='/js/accueil.js') }}"></script>
</body>