<!DOCTYPE html>
<html>

<head>
    <title>Accueil</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/style.css') }}" />
</head>

<body onload="onLoad()">
    <h1>YourList</h1>
    <div class="rechercherDiv">
        <form id="rechercherVideo">
            <input type="text" id="rechercher" placeholder="Rechercher..." />
            <input type="button" id="rechercherBtn" value="->" onclick="boutonRechercher()" />
        </form>
    </div>
    <div id="videoList">
        <ol id="zone_videoThumbnail"></ol>
    </div>
    <script src="{{ url_for('static',filename='/js/accueil.js') }}"></script>
</body>