<!DOCTYPE html>
<html>

<head>
    <title>Playlist</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/style.css') }}" />
</head>

<body onload="onLoad()">
    <section class="headerSection">
        <p class="menuHaut"></p>
        <img id="logo" src="{{ url_for('static',filename='/data/logoYL.png') }}" />
        <h1>Mes Playlists</h1>
        <form id="rechercherVideo">
            <input type="text" id="rechercher" placeholder="Rechercher..." />
            <input type="button" id="rechercherBtn"  value=" " onclick="boutonRechercherHelper()" />
        </form>
    </section>
    </form>
    </section>
    <section class="topMainSection">
        <p><a id="retour" onclick="allerA('')">&#171; Accueil</a></p>
        <input type="button" id="creerPlaylistBtn" value="Créer une Playlist" onclick="boutonCreerPlaylist()" />
        <p id="zone_creationPlaylist">
            <input type="text" id="nomPlaylist" placeholder="Nom de la playlist" />
            <input type="button" id="creationPlaylistBtn" value="Ajouter" onclick="boutonCreationPlaylist()" />
            <input type="button" id="annulerPlaylistBtn" value="Annuler" onclick="playlists()" />
        </p>
    </section>
    <section class="mainSection">
        <ol id="zone_videoThumbnail"></ol>
    </section>
    <script src="{{ url_for('static',filename='/js/helper.js') }}"></script>
    <script src="{{ url_for('static',filename='/js/playlist.js') }}"></script>
</body>