<!DOCTYPE html>
<html>

<head>
    <title>Video</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='/css/style.css') }}" />
</head>

<body onload="onLoad()">
    <section class="headerSection">
        <p class="menuHaut"></p>
        <h1>YourList</h1>
        <form id="rechercherVideo">
            <input type="text" id="rechercher" placeholder="Rechercher..." />
            <input type="button" id="rechercherBtn"  value=" " onclick="boutonRechercher()" />
        </form>
    </section>
    <section class="topMainSection">
        <p id="retour" onclick="allerA('')">&#171; Retour</p>
    </section>
    <section class="mainSection">
        <div id="partieGaucheVideo">
            <div id="playerVideo"></div>
            <div id="suitePlaylist"></div>
        </div>
        <div id="suggestionVideo"></div>
    </section>
    <script src="{{ url_for('static',filename='/js/helper.js') }}"></script>
    <script src="{{ url_for('static',filename='/js/video.js') }}"></script>
</body>